#bobinaje{
    background-color: cadetblue;
    text-align: center;
}
#tolok{
    background-color: cadetblue;
    text-align: center;
    text-decoration: underline;
}
#a{
    background-color: cadetblue;
    text-align: center;
    text-decoration: underline;
}
#g{
    background-color: cadetblue;
    text-align: center;
    text-decoration: underline;
}
#p{
    background-color: cadetblue;
    text-align: center;
    text-decoration: underline;
}