#titulo1{
    text-align: left;
    background-color: cadetblue;
}
#titulo2{
    text-align: left;
    text-decoration: underline;
}
.porrosss{
    float: right;
}
.yo{
    float:right;
}